{% extends "main/layout.html"%}

{% block title %} Pending Orders {% endblock %}
{% block main %}

{% regroup orders by user as user_list %}
<table class="table table-dark">
  {% for user in user_list %}
  <thead>
    <th> {{ user.grouper }} </th>
    <th> Product Number </th>
    <th> Item </th>
    <th> Price </th>
    <th> Amount </th>
    <th> <a href="{% url 'ordercomplete' user.grouper %}">  Order Complete </a> </th>
  </thead>
  <tbody>
     {% for order in user.list %}
    <tr>
      <td>  </td>
      <td> {{ order.product_number }} </td>
      <td> {{ order.item }} </td>
      <td> {{ order.price }} </td>
      <td> {{ order.amount }} </td>
    </tr>
    {% endfor %}
  </tbody>
  {% endfor %}
</table>


{% endblock %}
