{% extends "main/layout.html" %}

{% block style%} <link rel="stylesheet" href="static/main/stylesheetshop.css">{% endblock %}

{% block title %}{% endblock %}
{% block main %}
<form class="m-5" action="{% url 'cart' %}" method="post">
    {% csrf_token %}
<div class="container">
  <div class="row">
    {% for item in items %}
    <div class="col-4">
      <img src="{{ item.document.url }}" width="200px" height="200px">
      <br> <br> <br>
      <a class="descr"> {{item.description}} <a>
      <br> <br>
      <a> ${{item.price}}</a>
      <br>
      <a> {{item.available}}pc Available </a>
      <br>
      <button type="post" class="btn btn-outline-light" value="{{item.product_number}}" name="productnumber" href="{% url 'cart'%}"> Add to cart </button>
    </div>
    {% endfor %}
  </div>
</div>
</form>
{% endblock %}
