{% extends "main/layout.html" %}

{% block style%} <link rel="stylesheet" href="static/main/stylesheetshop.css">{% endblock %}

{% block title %}{% endblock %}
{% block main %}
{% if visitor == True %}
<div class="alert alert-light alert-dismissible fade show" role="alert">
You need to be logged in to shop.  <a href="{% url 'login_view'%}" class="alert-link">Login</a> or <a href="{% url 'subscriptions'%}" class="alert-link">Register</a>.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
{% if available == False %}
<div class="alert alert-light alert-dismissible fade show" role="alert">
  <strong>This item is currently unavailable. </strong> Back in stock soon!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
<form class="m-5" action="{% url 'cart' %}" method="post">
    {% csrf_token %}
<div class="container">
  <div class="row">
    {% for item in items %}
    <div class="col-sm-12 col-md-6 col-lg-4">
      <img src="{{ item.document.url }}" width="200px" height="200px">
      <br> <br> <br>
      <a class="descr"> {{item.description}} <a>
      <br> <br>
      <a> ${{item.price}}</a>
      <br>
      <a> {{item.available}}pc Available </a>
      <br>
      <button type="post" class="btn btn-outline-light" value="{{item.product_number}}" name="productnumber" href="{% url 'cart'%}"> Add to cart </button>
    </div>
    {% endfor %}
  </div>
</div>
</form>
{% endblock %}
