<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />

    <link href='static/main/calendar/core/main.css' rel='stylesheet' />
    <link href='static/main/calendar/daygrid/main.css' rel='stylesheet' />

    <script src='static/main/calendar/core/main.js'></script>
    <script src='static/main/calendar/daygrid/main.js'></script>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');

      var calendar = new FullCalendar.Calendar(calendarEl, {
        plugins: [ 'interaction', 'dayGrid', 'timeGrid' ],
        defaultView: 'dayGridWeek',
        defaultDate: '2019-06-07',
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay'
        },
        events: [
          {
              title: '{{workouts.title}}',
              start: '2019-06-12T12:00:00'
          }

        ]
      });

      calendar.render();
    });

    </script>
  </head>

  <body>
    <div id='calendar'></div>

  </body>


</html>
